.produto{
    width: 30%;
}
.imgside{
    margin-top: 5%;
}
#miniatura{
    margin: 0 auto;
}
#miniatura a{
    text-decoration: none;
    padding: 10px;
}
.box {
    width: 240px;
    height:220px;
    display: inline-block;
    vertical-align: top;
    padding: 10px 20px;
    margin-bottom:20px;
    text-align:center;
    background:#f2f2f2;
    border:1px solid #ccc;
    border-radius:3px;
    box-shadow:inset 0 1px 1px #fff;
    transition: .5s;
    -webkit-transition: .5s;
}
.box:hover{
    background-color: #0d68bf;
    color:white;
    transition: .5s;
    -webkit-transition: 0.5s;
}
.box h2{
    font-size:1em;
}
.box .mais{
    text-align:right;
    padding:0;
    margin:0;
    font-style:italic;
    font-size: .8em;
}